<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container-admin">
    <h1>Welcome Boss</h1>
    <p>This is your dashboard. You can manage blog posts here.</p>
    <a href="/posts">Go to Blog</a>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>
